# Fuentes y configs que no necesita el usuario
src/**
tsconfig.json
.vscode/**
.git/**
.github/**
.vscodeignore
.vscodelocal/**
node_modules/**
.mpyignore
.cursor
.mpy-workbench

# Mantén solo lo necesario
!dist/**
!media/**
!scripts/**
!readme.md
!changelog.md
!license*